.custom-changepassword{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 15px;
    min-height: 85vh;
}

.custom-color{
    color:rgb(108, 99, 255);
}

.edit-profile-form{
    width: 55%;
    margin-top: 25px;
}