.custom-usersidepanel{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 20px;
}

.link-hover-underline {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s, border-bottom-color 0.3s; 
    padding: 10px; 
    display: inline-block; 
    width: 100%;
    text-align: left; 
  }
  
  .active {
    color: rgb(108, 99, 255); 
    border-bottom: 1px solid rgb(108, 99, 255); 
  }

  .link-hover-underline:hover {
    color: rgb(108, 99, 255); 
    border-bottom: 1px solid rgb(108, 99, 255);
  }